/* media query mobile responsive view  */

@media screen and (min-width: 420px){
    body{
        width: 100%;
        font-size: 10px;
    }
    /* box1  */
    .boxone {
        flex-direction: column;
    }
    /* box3   */
    
 .rightmidleftbox {
    flex-direction: column;
 }  
 .boxleft {
    margin-left: 131px;
 } 
 .box-mid {
 margin-right: 145px;
    margin-top: 15px;
 }
 .boxright {
    margin-right: 172px;
    margin-bottom: 100px;

 }
 .boxfour {
    display: block;
 }

}
